@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

a:link {
  color: #e39b00;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #e39b00;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  background-color: transparent;
  text-decoration: underline;
}

body {
  background-color: #edebe4;
  background-image: url(./assets/bg/gplay.png);
  background-repeat: repeat;
  height: 100%;
	padding-bottom: 2em;
	min-height: 100vh;
}

html {
  height: 100%;
  margin: 0;
}

